.li {

	font-weight: bold;
	
}

.logos{
    margin-right:20px; 
}
 .header{
 	color: black;
 } 
 .p{
 	color: blue;
 }

 .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-decoration: none;
    margin: 10px 10px 10px 10px;
}