
 .body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: purple;
  background-color: #d8da3d }

 

 
.li {

	font-weight: bold;
	
}

.logos{
    margin-right:20px; 
}
 .header{
 	color: black;
 } 
 .p{
 	color: blue;
 }

 .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-decoration: none;
    margin: 10px 10px 10px 10px;
}