/* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
  .jumbotron h2, .jumbotron p {
	  color: #fff;
	}
	/* Add a gray background color and some padding to the footer */
	footer {
	  background-color: #333;
	  padding: 25px;
	}
	.navbar  a{
	  color: white;
	}
	.box{
	  margin-top: 20px;

	}
	.box{
	  position: relative;
	  border-radius: 3px;
	  background: #ffffff;
	  border-top: 3px solid #d2d6de;
	  margin-bottom: 20px;
	  width: 100%;
	  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	  padding-bottom: 20px;
	}
	.icon-bar{
	  background: #fff;
	}
	.copyright p{
	  color: #fff;
	}


	.subnavbar  a{
	  color: #fff;
	}

	aside { 
    float: left;
  	width: 25%;
  	margin-left: 5
	}

	
}

