/* Remove the navbar's default margin-bottom and rounded borders */ 
 
    h1 {
    	font-weight:  bold;
  text-align: center;
  font-family: Georgia, "Times New Roman",
        Times, serif;

  background-color: #F3F3F3; }
  .negrita{
font-weight: bold;
  }
 
.clase1 {
	text-align: left;
	padding: 25px;
	margin-left: 20px;




}
table {

    border-collapse: collapse;
    width: 100%;
}
td{

	border:1px solid black;

}
th, td {
	align-self: center;

	padding-top: 10px;
    text-align: center;

     padding: 15px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {


    background-color: #4CAF50;
    color: white;
}

.autores1{
		margin:0 auto;
text-align:left;
border-collapse: collapse;
    width: 70% ;
text-align: center;
	padding: 25px;
	margin-left: 20px;
	border: 1px solid; 
	box-shadow: 2px 2px 5px #999;
	



}
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      margin-left: 10px;
    }
    
  .jumbotron h2, .jumbotron p {
	  color: #fff;
	}
	/* Add a gray background color and some padding to the footer */
	footer {
	  background-color: #333;
	  height: 30px;

	  padding: 25px;
	}
	.navbar  a{
	  color: black;
	}
	.box{
	  margin-top: 20px;

	}
	.box{
	  position: relative;
	  border-radius: 3px;
	  background: #ffffff;
	  border-top: 3px solid #d2d6de;
	  margin-bottom: 20px;
	  width: 100%;
	  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	  padding-bottom: 20px;
	}
	.icon-bar{
	  background: #fff;
	}
	.copyright p{
	  color: #fff;
	}


	.subnavbar  a{
	  color: #fff;
	}

	aside { 
    float: left;
  	width: 25%;
  	margin-left: 5
	}

	
}

